.loader {
    animation: 1s linear 0s normal none infinite running loader;
    -webkit-animation: 1s linear 0s normal none infinite running loader;
    height: 40px;
    width: 40px;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}